// ----------------
//    Variables.
// ----------------

// Colors.
$color-black: #000;
$color-blue: #337ab7;
$color-gray: #e7e7e7;
$color-gray-dark: #444;
$color-gray-light: #dfdfdf;
$color-gray-light-2: #999;
$color-gray-light-3: #f5f5f5;
$color-gray-light-4: #ebeaea;
$color-orange: #ff7300;
$color-white: #fff;
$color-white-2: #faf9f9;

// ----------------
//    Fonts.
// ----------------

@font-face {
  font-family: 'Open Sans Regular';
  src: url('../assets/fonts/OpenSans-Regular-webfont.eot');
  src: url('../assets/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/OpenSans-Regular-webfont.woff') format('woff'),
       url('../assets/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
       url('../assets/fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('../assets/fonts/OpenSans-Light-webfont.eot');
  src: url('../assets/fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/OpenSans-Light-webfont.woff') format('woff'),
       url('../assets/fonts/OpenSans-Light-webfont.ttf') format('truetype'),
       url('../assets/fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}

// ----------------
//       Body.
// ----------------

body {
	color: $color-gray-dark;
	font-family: 'Open Sans Light';
}

// --------------------
//    Font Awesome.
// --------------------

.fa-icon {
  width: auto;
  height: 1em; /* or any other relative font sizes */

  /* You would have to include the following two lines to make this work in Safari */
  max-width: 100%;
  max-height: 100%;
}

// -------------
//    Links.
// -------------
a {
  color: $color-blue;
}

// -------------
//    Borders.
// -------------
$border-radius: 4px;
