
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "variables";
@import "mixins";

@import "~bootstrap/scss/utilities/text";



@include keyframes(fadeOut) {
  0% { opacity: 1 }
  100% { opacity: 0; display: none }
}


@mixin fadeOut() {
  @include animation(fadeOut 250ms linear);
  animation-fill-mode: both;
}


body {
  font-family: 'Open Sans', sans-serif !important;
	color: #444;
}

.fa-icon {
  max-height: 100%;
  max-width: 100%;
  height: 1em;
  width: auto;
}

a {
  color: $color-blue;
}

.hidden
{
  &:not(.fade2) {
    display: none !important;
  }

  &.fade2 {
    @include fadeOut();
  }
}

.static-page-content
{
  /* Static page */
  a {
    color: $color-blue !important;
  }

  table
  {
    text-align: center;
    margin-right:auto;
    margin-left:auto;
    margin-top: 3%;
    width: 70%;

    th,
    td {
      border: 1px solid #ebeaea;
      padding: 6px 13px;
      width: 50%;
    }

    tr {
      border-top: 1px solid #ebeaea;
    }
  }

  h6 {
    margin-bottom: 1.5%;
  }
}

summary span {
  border-bottom: 1px dotted $color-blue;
  text-decoration: none;
  color: $color-blue;
}

/* Details */
details {
  margin-bottom: 1.5%;
  text-align: center;

  summary::-webkit-details-marker {
    display: none;
  }

  > summary:first-of-type {
    list-style-type: none;
  }
}

.tooltip-static-page
{
  border-bottom: 1px dotted $color-blue;
  color: $color-blue;
	cursor: help;

  &::after {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px 8px 8px 0;
    content: attr(data-tooltip);
    color: $color-white;
    position: absolute;
    visibility: hidden;
    margin-top: -24px;
    padding: 3px 7px;
    opacity: 0;

    transition: all 0.4s ease-in-out;
  }

  &:hover::after {
    visibility: visible;
    opacity: 1;
  }
}

.text-error
{
  color: red;

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }

    &, &:hover {
      color: darkred;
    }
  }
}

[data-gesture-handling-scroll-content]::after {
  text-align: center;
}

.btn-event-training
{
  background-color: $alert-event-training-bg;

  &, &:hover {
    color: $alert-event-training-color;
  }

  &:hover {
    background-color: darken($alert-event-training-bg, 5);
  }
}

.alert-event-training
{
  border-color: darken($alert-event-training-bg, 10);
  background-color: $alert-event-training-bg;
  color: $alert-event-training-color;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
  font-weight: bold;
  word-spacing: 3px;
}


.form-control
{
  &, &:focus {
    color: black;
  }

  &::placeholder {
    color: #BBB;
  }
}


.popover
{
  &.bs-popover-bottom, &.bs-popover-auto[x-placement^="bottom"] {
    box-shadow: 0 3px 10px 1px rgba(0,0,0,0.25);
  }

  &.bs-popover-top, &.bs-popover-auto[x-placement^="top"] {
    box-shadow: 0 -3px 10px 1px rgba(0, 0, 0, 0.25);
  }

  &.bs-popover-left, &.bs-popover-auto[x-placement^="left"] {
    box-shadow: -2px 1px 7px 1px rgba(0, 0, 0, 0.2);
  }

  &.bs-popover-right, &.bs-popover-auto[x-placement^="right"] {
    box-shadow: 2px 1px 7px 1px rgba(0, 0, 0, 0.2);
  }
}
