// ----------------
//    Variables.
// ----------------

// Colors.
$color-black: #000;
$color-blue: #337ab7;
$color-blue-2: #2d9fd8;
$color-gray: #e7e7e7;
$color-gray-dark: #444;
$color-gray-light: #dfdfdf;
$color-gray-light-2: #999;
$color-gray-light-3: #f5f5f5;
$color-gray-light-4: #ebeaea;
$color-green: #45bf7b;
$color-orange: #ff7300;
$color-red: #f00;
$color-red-2: #e52c5a;
$color-white: #fff;
$color-white-2: #faf9f9;

// -------------
//    Borders.
// -------------
$border-radius: 4px;


// -------------
//    Alerts.
// -------------
$alert-event-training-color: white;
$alert-event-training-bg: #FF5657;

