body {
	color: #444;
  font-family: 'Open Sans', sans-serif !important;;
}

.fa-icon {
  width: auto;
  height: 1em; /* or any other relative font sizes */

  /* You would have to include the following two lines to make this work in Safari */
  max-width: 100%;
  max-height: 100%;
}

a {
  color: #337ab7;
}

/* Static page */
.static-page-content a {
  color: #337ab7 !important;
}

.static-page-content table {
  margin-left:auto;
  margin-right:auto;
  margin-top: 3%;
  text-align: center;
  width: 70%;
}

.static-page-content table th,
.static-page-content table td {
  border: 1px solid #ebeaea;
  padding: 6px 13px;
  width: 50%;
}

.static-page-content table tr {
  border-top: 1px solid #ebeaea;
}

/* Details */
details {
  margin-bottom: 1.5%;
  text-align: center;
}

summary span {
  border-bottom: 1px dotted #337ab7;
  color: #337ab7;
  text-decoration: none;
}

details summary::-webkit-details-marker {
  display: none;
}

details > summary:first-of-type {
  list-style-type: none;
}

.tooltip-static-page {
  color: #337ab7;
  border-bottom: 1px dotted #337ab7;
	cursor: help;
}

.tooltip-static-page::after {
	background: rgba(0, 0, 0, 0.8);
	border-radius: 8px 8px 8px 0px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	color: #fff;
	content: attr(data-tooltip);
	margin-top: -24px;
	opacity: 0;
	padding: 3px 7px;
	position: absolute;
	visibility: hidden;

	transition: all 0.4s ease-in-out;
}

.tooltip-static-page:hover::after {
	opacity: 1;
	visibility: visible;
}
